@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
:root {
    --color-primario: #0A0909;
    --color-secundario: #DBCF7E;
    --gris: #ebebeb;
    --gris-claro: #E3E3E5;
    --gradiente: linear-gradient(90deg, #0A0909, #000000);
  }
body{
  background-color: #fff;
}
a{
  color: var(--color-primario);
}
a:hover{
  text-decoration: none;
  color: var(--color-primario);
}

main{
  width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.parte-gris{
  position: absolute;
  top: 0;
  left: 44%;
  width: 56%;
  height: 100vh;
  background-color: var(--gris);
  opacity: .5;
}
.main-h1{
  text-transform: uppercase;
  position: absolute;
  font-size: 8em;
  font-weight: 900;
  text-align: center;
  color: #000000;
  z-index: 4;
  top: 25%;
  left: 14%;
}
main img{
  position: absolute;
  z-index: 2;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.solicitud{
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #000000;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.2rem;
  padding: 7px 12px;
  border-radius: 3px;
  transition: all .4s linear;
  background-color: transparent;
}
.solicitud i{
  font-weight: 900;
}
.solicitud:hover{
  background-color: #000000;
  color: var(--gris-claro);
}
.social{
  position: absolute;
  left: 3%;
  bottom: 10%;
}
.social::after{
  content: "";
  position: absolute;
  width: 2px;
  height: 161%;
  left: 50%;
  transform: translateX(-50%);
  top: -200%;
  background-color: #000000;
}
.social ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social ul li{
  margin-bottom: 25px;
}
.social ul li a i{
  font-size: 1.8rem;
  color: #000000;
  font-weight: 900;
}

/* ----------------------
|       RESPONSIVE       |
------------------------*/
@media screen and (max-width: 1280px) {
    .main-h1{
        font-size: 5.5em;
    }
}
@media screen and (max-width: 414px) {
  .main-h1 {
    font-size: 4em;
    left: -2%;
  }
  .solicitud {
    position: absolute;
    bottom: 14%;
  }
}


/* scroll
============================= */
main .scroll-down {
  padding-top: 70px;
}
main .scroll-down span {
  position: absolute;
  top: 89%;
  left: 44%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-animation: sdb06 1.5s infinite;
  animation: sdb06 1.5s infinite;
  box-sizing: border-box;
  z-index: 4;
}
@-webkit-keyframes sdb06 {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb06 {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}


/* Banner Statico
=========================*/
.banner-statico{
  width: 100%;
  height: 400px;
  background-image: url(/images/cocina.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner-statico::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000005f;
}
.banner-statico h2{
  color: #FFFFFF;
  text-shadow: 4px 6px 7px #000000;
  font-weight: 900;
  font-size: 3.3em;
  text-align: center;
  z-index: 1;
}

/* Conceitos
=======================*/
.conceito-area{
  background-color: var(--color-primario);
  overflow: hidden;
}
.conceito-text{
  background-color: var(--color-primario);
  width: 80%;
  color: var(--color-secundario);
  padding: 4rem;
}
.conceito-img{
  overflow: hidden;
}
.conceito-img img{
  transition: all .4s linear;
}
.conceito-img img:hover{
  transform: scale(1.1);
}

/* ----------------------
|       RESPONSIVE       |
------------------------*/
@media screen and (max-width: 414px) {
  .conceito-text {
    width: 98%;
    padding: 4rem 2rem;
  }
}

/* Trabajos Realizados
=========================*/
.thumb-section{
  padding: 2rem 0rem;
  background-color: #fff;
}
.thumb-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.thumb-img{
  width: 100%;
  max-width: 250px;
  height: 200px;
  overflow: hidden;
  border-radius: 2px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.thumb-img img{
  width: 110%;
  transition: all .4s linear;
}
.thumb-img img:hover{
  transform: scale(1.2);
}
.thumb-description{
  text-align: center;
}
.thumb-description h3{
  margin-top: 5px;
  font-weight: 900;
  line-height: .9;
}
.thumb-description button{
  border-radius: 3px;
  color: #7B5E00;
  border: 1px solid #7B5E00;
  padding: 1px 20px;
  margin: 0px;
  font-weight: 500;
  margin-bottom: 1rem;
  transition: all .4s linear;
}
.thumb-description button:hover{
  background-color: #7B5E00;
  color: #fff;
}

/* Image Slider
=========================*/
.compare-h1{
  line-height: .8;
  text-transform: uppercase;
}
.compare-small {
  color: var(--color-secundario);
  font-size: 1.2rem;
  font-weight: bold;
}

.compare-container {
  position: relative;
  width: 100%;
  margin: 50px 0;
}
.compare-container .compare-inner {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px 30px;
  background-color: #eee;
}

.comparison-slider-wrapper {
  position: relative;
  width: 100%;
  margin: 20px 0;
  background-color: white;
}
.comparison-slider-wrapper .comparison-slider {
  position: relative;
  width: 100%;
  margin: 0;
  border: 5px white solid;
  box-sizing: border-box;
}
.comparison-slider-wrapper .comparison-slider > img {
  width: 100%;
  height: auto;
  display: block;
}
.comparison-slider-wrapper .comparison-slider .compare-overlay {
  display: none;
  position: absolute;
  width: 250px;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  box-sizing: border-box;
  color: #ddd;
  text-align: right;
}
@media screen and (min-width: 767px) {
  .comparison-slider-wrapper .comparison-slider .compare-overlay {
    display: block;
  }
}
.comparison-slider-wrapper .comparison-slider .compare-resize {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.comparison-slider-wrapper .comparison-slider .compare-resize > img {
  display: block;
}
.comparison-slider-wrapper .comparison-slider .compare-resize .compare-overlay {
  right: auto;
  left: 20px;
  text-align: left;
}
.comparison-slider-wrapper .comparison-slider .compare-divider {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  left: 50%;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  cursor: ew-resize;
}
.comparison-slider-wrapper .comparison-slider .compare-divider:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -9px;
  top: 50%;
  margin-top: -10px;
  background-color: white;
  transform: rotate(45deg);
  transition: all 0.1s ease-in-out;
}
.comparison-slider-wrapper .comparison-slider .compare-divider:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: -5px;
  top: 50%;
  margin-top: -6px;
  background-color: white;
  transform: rotate(45deg);
  transition: all 0.1s ease-in-out;
}
.comparison-slider-wrapper .comparison-slider .compare-divider.draggable:before {
  width: 30px;
  height: 30px;
  left: -14px;
  margin-top: -15px;
}
.comparison-slider-wrapper .comparison-slider .compare-divider.draggable:after {
  width: 20px;
  height: 20px;
  left: -9px;
  margin-top: -10px;
  background-color: #555;


}


